# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../Python_Advanced\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../:\Users\bunny\PycharmProjects\Python_Advanced\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
